@font-face {
  font-family: 'KaushanScript-Regular';
  src: url('/assets/KaushanScript-Regular.otf');
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('SourceSansPro-Bold.otf');
}

@font-face {
  font-family: 'BrentfordBold';
  src: url('BrentfordBold.otf');
}